body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add cursor pointer */
    position: relative;
}

.matchup-name {
    font-weight: bold;
}

.matchup-description {
    display: none;
    margin-top: 10px;
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    
    width: 100%;
    bottom: 0;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.card img {
    max-width: 100%;
    max-height: 70px; /* Set maximum height */
    border-radius: 8px;
}

.card .description {
    display: none;
    margin-top: 10px;
}


#filter-characters {
    margin-top: 20px;
}

#character-filter {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Limit maximum width */
    font-size: 16px;
}

#character-filter:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}